openapi: 3.1.0
info:
  title: Brandfetch Brand API
  description: Providing brand data for the Internet which you can use in your other apps.
  version: '2.0'
servers:
  - url: https://api.brandfetch.io/v2
paths:
  /brands/{domainOrId}:
    get:
      summary: Retrieve brand data by domain or ID
      description: Fetches data for a brand based on its domain or unique identifier.
      parameters:
        - name: domainOrId
          in: path
          required: true
          description: The domain or unique identifier of the brand
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          description: Bearer authentication header of the form `Bearer <token>`.
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved brand data
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier for the brand
                  name:
                    type: string
                    nullable: true
                    description: Brand name
                  domain:
                    type: string
                    description: Brand website URL
                  claimed:
                    type: boolean
                    description: Indicates if the brand profile is claimed by its owner
                  description:
                    type: string
                    nullable: true
                    description: Short description of the brand
                  longDescription:
                    type: string
                    nullable: true
                    description: Long description of the brand
                  links:
                    type: array
                    description: Social media links for the brand
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Name of the social platform
                        url:
                          type: string
                          description: URL to the brand's social profile
                  logos:
                    type: array
                    description: Logos, symbols & icons of the brand
                    items:
                      type: object
                      properties:
                        theme:
                          type: string
                          description: Theme of the logo, e.g., dark
                        formats:
                          type: array
                          items:
                            type: object
                            properties:
                              src:
                                type: string
                                description: Source URL of the logo
                              format:
                                type: string
                                description: Format of the logo file (e.g., svg)
                              height:
                                type: integer
                              width:
                                type: integer
                              size:
                                type: integer
                              background:
                                type: string
                  colors:
                    type: array
                    description: Color palette of the brand
                    items:
                      type: object
                      properties:
                        hex:
                          type: string
                          description: Hex code of the color
                        type:
                          type: string
                          description: Type of color (e.g., accent)
                        brightness:
                          type: integer
                  fonts:
                    type: array
                    description: Fonts used by the brand
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Font name
                        type:
                          type: string
                          description: Font type (e.g., title, body)
                        origin:
                          type: string
                          description: Origin of the font (e.g., google)
                        originId:
                          type: string
                        weights:
                          type: array
                          items:
                            type: object
                  images:
                    type: array
                    description: Banner and other images for the brand
                    items:
                      type: object
                      properties:
                        formats:
                          type: array
                          items:
                            type: object
                            properties:
                              src:
                                type: string
                                description: Source URL of the image
                              format:
                                type: string
                                description: Format of the image file
                              height:
                                type: integer
                              width:
                                type: integer
                              size:
                                type: integer
                              background:
                                type: string
                        tags:
                          type: array
                          items:
                            type: object
                        type:
                          type: string
                  qualityScore:
                    type: number
                    description: Quality score for the brand data (0-1)
                  company:
                    type: object
                    description: Firmographic data for the brand's company
                    properties:
                      employees:
                        type: integer
                      foundedYear:
                        type: integer
                      industries:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            score:
                              type: integer
                            slug:
                              type: string
                            name:
                              type: string
                            emoji:
                              type: string
                            parent:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  slug:
                                    type: string
                                  name:
                                    type: string
                                  emoji:
                                    type: string
                      kind:
                        type: string
                      location:
                        type: object
                        properties:
                          city:
                            type: string
                          country:
                            type: string
                          countryCode:
                            type: string
                          region:
                            type: string
                          state:
                            type: string
                          subregion:
                            type: string
                  isNsfw:
                    type: boolean
                    description: true if the brand is not safe for work
                  urn:
                    type: string
                    description: Uniform Resource Name for the brand
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Brand not found
        '429':
          description: Rate limit exceeded
